<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.luxx.seed.dao.AgentMapper">

    <select id="getAgentCount" resultType="java.lang.Long">
        select count(1)
        from tb_agent
    </select>

    <select id="getAgentByIp" resultType="com.luxx.seed.model.Agent">
        select *
        from tb_agent
        where ip = #{ip}
    </select>

    <select id="getAgentsByType" resultType="com.luxx.seed.model.Agent">
        select *
        from tb_agent
        <where>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
        </where>
        <choose>
            <when test="order != null and order != '' and direction != null and direction != ''">
                ORDER BY ${order} ${direction}
            </when>
            <otherwise>
                ORDER BY id ASC
            </otherwise>
        </choose>
    </select>

    <insert id="createAgent" useGeneratedKeys="true" keyProperty="id" parameterType="com.luxx.seed.model.Agent">
        insert into tb_agent (tenant_id, ip, version, status, type, owner, create_time, update_time)
        values (#{tenantId}, #{ip}, #{version}, #{status}, #{type}, #{owner}, #{createTime}, #{updateTime})
    </insert>

    <update id="updateAgent" parameterType="com.luxx.seed.model.Agent">
        update tb_agent set
        tenant_id = #{tenantId},
        ip = #{ip},
        version = #{version},
        status = #{status},
        type = #{type},
        owner = #{owner},
        update_time = #{updateTime}
        where id = #{id}
    </update>

</mapper>