<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.luxx.seed.dao.UserMapper">

    <select id="getUserCount" resultType="java.lang.Long">
        select count(1)
        from tb_agent
    </select>

    <select id="getUserByName" resultType="com.luxx.seed.model.User">
        select *
        from tb_user
        where name = #{name} and status = 1;
    </select>

    <insert id="createUser" useGeneratedKeys="true" keyProperty="id">
        insert into tb_user (tenant_id, name, passwd, status, is_admin, create_time, update_time)
        values (#{tenantId}, #{name}, #{passwd}, #{status}, #{isAdmin}, #{createTime}, #{updateTime})
    </insert>

    <update id="updateUser" parameterType="com.luxx.seed.model.User">
        update tb_user set
        tenant_id = #{tenantId},
        name = #{name},
        passwd = #{passwd},
        status = #{status},
        is_admin = #{isAdmin},
        update_time = #{updateTime}
        where id = #{id}
    </update>

</mapper>